/************* DESCRIPTION *************/

/************* COLOUR SCHEME *************/
/*
#66cc00
#fffccc
#606060
#ffec00
*/
/************* FONTS *************/
@font-face {
  font-family: 'NunitoExtraLight';
  src: url('../fonts/Nunito-ExtraLight.ttf');
}
@font-face {
  font-family: 'NunitoLight';
  src: url('../fonts/Nunito-Light.ttf');
}
@font-face {
  font-family: 'NunitoReg';
  src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'NunitoRegItalic';
  src: url('../fonts/Nunito-Italic.ttf');
}
@font-face {
  font-family: 'NunitoSemiBold';
  src: url('../fonts/Nunito-SemiBold.ttf');
}
@font-face {
  font-family: 'NunitoBold';
  src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
  font-family: 'NunitoBoldItalic';
  src: url('../fonts/Nunito-BoldItalic.ttf');
}


.col{
  /* border: 1px solid blue; */
  margin: 0;
}
.container{
  position: relative;
  overflow: hidden;
  height: 600vh;
  max-width: 100vw;
  background: #fffccc;
  margin: 0;
}
.content{
  margin: 25px;
  color: #606060;
}
.content h1{
  font-family: 'NunitoBold';
  font-size: 1.7em;
  margin-bottom: 10px;
}
.content p{
  font-family: 'NunitoReg';
  font-size: 1.5em;
  line-height: 1.5em;
}
.content h2{
  font-family: 'NunitoReg';
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 10px 0 10px 0;
}
.pageSection{
  height: 100vh;
  width: 100vw;
  /* border: 1px solid red; */
  margin: 0;
  position: absolute;

}

.contentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
}
.inner{
  position: absolute;
  top: 30%;
  transform: translate(0, 50%);
}
#pageSectionOneBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #66cc00;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
#pageSectionOneCircle{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50vh;
  background: #fffccc;
  height: 50vh;
  width: 40vw;
  z-index: 2;
  border-radius: 30vw 0 0 0;
}
#pageSectionTwoBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffccc;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 100vh;
}
#pageSectionTwoCircle{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50vh;
  background: #66cc00;
  height: 100vh;
  width: 60vw;
  z-index: 2;
  border-radius: 0 0 50vw 0;
  margin-top: 100vh;
}
#pageSectionThreeBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffccc;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 200vh;
}
#pageSectionThreeCircle{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50vh;
  background: #ffec00;
  height: 100vh;
  width: 60vw;
  z-index: 2;
  border-radius: 50vw 0 0 50vw;
  margin-top: 200vh;
}

#pageSectionFourBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffccc;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 300vh;
}
#pageSectionFourCircle{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50vh;
  background: #66cc00;
  height: 100vh;
  width: 70vw;
  z-index: 2;
  border-radius: 0 30vw 0 0;
  margin-top: 300vh;
}

#pageSectionFiveBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffccc;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 400vh;
}
#pageSectionFiveCircle{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50vh;
  background: #66cc00;
  height: 100vh;
  width: 70vw;
  z-index: 2;
  border-radius: 0 0 30vw 0;
  margin-top: 400vh;
}

#pageSectionSixBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffccc;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 500vh;
}
#pageSectionSixCircle{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50vh;
  background: #606060;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  border-radius: 50vw 0 0 0;
  margin-top: 500vh;
}
#pageSectionOne{
  z-index: 3;
}
#pageSectionTwo{
  z-index: 3;
  margin-top: 100vh;
}
#pageSectionThree{
  z-index: 3;
  margin-top: 200vh;
}
#pageSectionFour{
  z-index: 3;
  margin-top: 300vh;
}
#pageSectionFive{
  z-index: 3;
  margin-top: 400vh;
}
#pageSectionSix{
  z-index: 3;
  margin-top: 500vh;
}
/*
#pageSectionFour{
  background: #ffec00;
  border-radius: 0 0 0 30vw;
  margin-top: 400vh;
}
#pageSectionFive{
  background: #66cc00;
  border-radius: 0 60vw 0 0;
  margin-top: 500vh;
}
#pageSectionSix{
  background: #606060;
  border-radius: 0 0 50vw 50vw;
  margin-top: 600vh;
} */


/* MENU */
.menuContainer{

}
.menuBar{
  margin-left: 50px;
  height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
}
.menuItem{
  display: inline-block;
  font-family: 'NunitoBoldItalic';
  font-size: 1.2em;
  margin: 0 20px 0 20px;
}
.menuIcon{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#endMenuBar li{
  color: #fffccc;
}
#sectionOneMenu li{
  color: #ffec00;
}

#sectionTwoMenu li{
  color: #fffccc;
}
#sectionTwoMenu #sectionTwoMenuFocus{
  color: #ffec00;
}

#sectionThreeMenu li{
  color: #606060;
}
#sectionThreeMenu #sectionThreeMenuFocus{
  color: #66cc00;
}

#sectionFourMenu li{
  color: #fffccc;
}
#sectionFourMenu #sectionFourMenuFocus{
  color: #ffec00;
}



/* #sectionTwoMenuFocus{
  color: #ffec00;
} */
/* #sectionThreeMenu li{
  color: #ffec00;
} */
/* #sectionFourMenu li{
  color: #ffec00;
} */

/* TYPOGRAPHY */
.main-title{
  /* margin-top: 40vh; */
  text-align: center;
  font-size: 3em;
  color: #fffccc;
  font-family: 'NunitoReg';
}
.sub-title{
  text-align: left;
  font-size: 1.9em;
  color: #fffccc;
  font-family: 'NunitoExtraLight';
  margin-left: 50px;
}
#titleIcon{
  height: 50px;
}
#eventSectionTitle{
  color: #fffccc;
}
#whySectionTitle{
  color: #66cc00;
}
#serviceSectionTitle{
  color: #66cc00;
}
#aboutSectionTitle{
  color: #66cc00;
}
#endSectionTitle{
  color: #fffccc;
}
.titleBar{
  margin-left: 50px;
  height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
}
.titleItem{
  display: inline-block;
  color: #fffccc;
  font-family: 'NunitoSemiBold';
  font-size: 4em;
  margin: 0 20px 0 20px;
}
.titleIcon{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.invisible{
  opacity: 0;
  transition: all 500ms ease-in;
}

.visible{
  opacity: 1;
}


#pageSectionOneContent{
  display: none;
}
