/************* DESCRIPTION *************/
/* Style sheet for Limecapture webiste
Built by Matthew King matthewking.design
This stylesheet is currently a work in progress */

/************* CONTENTS *************/
/*
1. Color Scheme
2. Fonts
3.Universal Styles
4. Container Styles
5. Background and Curves
6.
*/

/************* COLOUR SCHEME *************/
/*
#66cc00
#fffccc
#606060
#ffec00
*/
/************* FONTS *************/
@font-face {
  font-family: 'NunitoExtraLight';
  src: url('../fonts/Nunito-ExtraLight.ttf');
}
@font-face {
  font-family: 'NunitoLight';
  src: url('../fonts/Nunito-Light.ttf');
}
@font-face {
  font-family: 'NunitoReg';
  src: url('../fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'NunitoRegItalic';
  src: url('../fonts/Nunito-Italic.ttf');
}
@font-face {
  font-family: 'NunitoSemiBold';
  src: url('../fonts/Nunito-SemiBold.ttf');
}
@font-face {
  font-family: 'NunitoBold';
  src: url('../fonts/Nunito-Bold.ttf');
}
@font-face {
  font-family: 'NunitoBoldItalic';
  src: url('../fonts/Nunito-BoldItalic.ttf');
}

/************* UNIVERSAL STYLES *************/
.col{
  /* border: 1px solid blue; */
}

/************* CONTAINER *************/
.container{
  position: relative;
  overflow: hidden;
  height: 600vh;
  max-width: 100vw;
  background: #fffef0;
  margin: 0;
}
/************* BACKGROUND AND CIRCLES *************/
#pageSectionOneBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffdf2;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
#pageSectionOneCircle{
  position: absolute;
  top: 0;
  right: 0;
  background: #66cc00;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  border-radius: 0 30vw 0 0;
}
#pageSectionTwoBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffdf2;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 100vh;
}
#pageSectionTwoCircle{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50vh;
  background: #66cc00;
  height: 100vh;
  width: 57.66vw;
  z-index: 2;
  border-radius: 0 0 50vw 0;
  margin-top: 100vh;
}
#pageSectionThreeBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffdf2;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 200vh;
}
#pageSectionThreeCircle{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50vh;
  background: #ffec00;
  height: 100vh;
  width: 49.2vw;
  z-index: 2;
  border-radius: 50vw 0 0 50vw;
  margin-top: 200vh;
}
#pageSectionFourBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffdf2;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 300vh;
}
#pageSectionFourCircle{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50vh;
  background: #66cc00;
  height: 100vh;
  width: 49.2vw;
  z-index: 2;
  border-radius: 0 30vw 0 0;
  margin-top: 300vh;
}
#pageSectionFiveBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffdf2;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 400vh;
}
#pageSectionFiveCircle{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50vh;
  background: #66cc00;
  height: 100vh;
  width: 49.2vw;
  z-index: 2;
  border-radius: 0 0 30vw 0;
  margin-top: 400vh;
}
#pageSectionSixBg{
  position: absolute;
  top: 0;
  left: 0;
  background: #fffdf2;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  margin-top: 500vh;
}
#pageSectionSixCircle{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50vh;
  background: #606060;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  border-radius: 50vw 0 0 0;
  margin-top: 500vh;
}
#pageSectionOne{
  z-index: 3;
}
#pageSectionTwo{
  z-index: 3;
  margin-top: 100vh;
}
#pageSectionThree{
  z-index: 3;
  margin-top: 200vh;
}
#pageSectionFour{
  z-index: 3;
  margin-top: 300vh;
}
#pageSectionFive{
  z-index: 3;
  margin-top: 400vh;
}
#pageSectionSix{
  z-index: 3;
  margin-top: 500vh;
}



/************* MAIN CONTENT*************/
/************* COPY & INFORMATION *************/
.content{
  margin: 25px;
  color: #606060;
}
.content h1{
  font-family: 'NunitoBold';
  font-size: 1.8em;
  margin-bottom: 10px;
}
.content p{
  font-family: 'NunitoLight';
  font-size: 1.3em;
  line-height: 1.1em;
}
.content h2{
  font-family: 'NunitoReg';
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 10px 0 10px 0;
}
.content h3{
  font-family: 'NunitoReg';
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 10px 0 10px 0;
}
.pageSection{
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: absolute;
}
.contentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.firstPageContentContainer, .lastPageContentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



/* MENU */
.menuContainer{

}
.menuBar{
  margin-left: 50px;
  height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
}
.menuItem{
  display: inline-block;
  font-family: 'NunitoBold';
  font-size: 1.2em;
  margin: 0 20px 0 20px;
  height: 25px;
}
.menuItem a{
    text-decoration:none;
    color:#606060;
}
.menuItem a:hover{
    color:#ffec00;
    font-family:'NunitoBoldItalic';
    transition: all 300ms ease-in;
}
.menuIcon{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#endMenuBar li{
  color: #fffccc;
}
#sectionOneMenu li{
  color: #606060;
}

#sectionTwoMenu li{
  color: #fffccc;
}
#sectionTwoMenu #sectionTwoMenuFocus{
  color: #ffec00;
}

#sectionThreeMenu li{
  color: #606060;
}
#sectionThreeMenu #sectionThreeMenuFocus{
  color: #66cc00;
}

#sectionFourMenu li{
  color: #fffccc;
}
#sectionFourMenu #sectionFourMenuFocus{
  color: #ffec00;
}

/* TYPOGRAPHY */
.main-title{
  /* margin-top: 40vh; */
  text-align: center;
  font-size: 3em;
  color: #fffccc;
  font-family: 'NunitoReg';
}
.sub-title{
  text-align: center;
  font-size: 1.9em;
  color: #fffccc;
  font-family: 'NunitoExtraLight';
}
#emailTitle{
    font-family:NunitoRegItalic;
    font-size:2.3em;
    padding-top:10px;
}
#emailTitle a{
  text-decoration: none;
  color: #fffccc;
}
#titleIcon{
  height: 50px;
}
#eventSectionTitle{
  color: #fffccc;
  padding-left: 20px;
}
#whySectionTitle{
  color: #66cc00;
  padding-left: 20px;
}
#serviceSectionTitle{
  color: #66cc00;
  padding-left: 20px;
}
#aboutSectionTitle{
  color: #66cc00;
  padding-left: 20px;
}
#endSectionTitle{
  color: #fffccc;
  padding-left: 20px;
}


.titleBar{
  margin-left: 0px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.titleItem{
  display: inline-block;
  color: #fffccc;
  font-family: 'NunitoSemiBold';
  font-size: 4em;
  margin: 0 10px 0 10px;
  text-align:center;
}
.titleIcon{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.mainTitleBar{
  height: 10vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-top:10px;
}
.mainTitleItem{
  display: inline-block;
  color: #fffccc;
  font-family: 'NunitoSemiBold';
  font-size: 4em;
  margin: 0 10px 0 10px;
  text-align:center;
}
.mainTitleIcon{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
#serviceTitle{
    font-size:3em;
    color:#66cc00;
}
#eventTitle{
    font-size:3em;
}
#whyTitle{
    color:#66cc00;
    font-size:3em;
}
.invisible{
  opacity: 0;
  transition: all 500ms ease-in;
}

.visible{
  opacity: 1;
}
.invisible-test{
  opacity: 0;
  transition: all 500ms ease-in;
  margin-top: 200px;
}

.visible-test{
  opacity: 1;
  margin-top: 0;
}


#pageSectionOneContent{
  display: none;
}
.columnRevealDevice{
  display: none;
}


@media only screen and (max-width: 480px) {
	.span_3_of_8 {
		width: 100vw;
	}
  .span_2_of_8 {
    width: 100vw;
  }
  .span_5_of_8 {
    width: 100vw;
  }
  .container{
    height: 710vh;
  }
  .contentContainer{
    display: block;
  }
  #pageSectionTwoCircle, #pageSectionThreeCircle, #pageSectionFourCircle, #pageSectionFiveCircle, #pageSectionSixCircle{
    width: 100vw;
  }
  .mainTitleItem{
    font-size: 2em;
  }
  .sub-title{
    font-size: 1.1em;
  }
  .menuIcon{
    height: 30px;
  }
  #eventTitle, #whyTitle, #serviceTitle, #aboutUsTitle{
    font-size: 2em;
  }
  #aboutUsTitle, #whyTitle{
    color: #606060;
  }
  #serviceTitle{
    color: #fffccc;
  }
  .content{
    margin: 0;
  }
  .content p{
    font-size: 1.2em;
    padding: 20px;
  }
  .content h1, .content h3{
    font-size: 1.4em;
    padding: 20px;
    margin: 0;
    text-align: center;
  }
  .menuBar{
    display: none;
  }
  .deviceViewCreamType{
    color: #fffccc;
  }
  .deviceViewGreyType{
    color: #606060;
  }
  #pageSectionTwo, #pageSectionTwoBg, #pageSectionTwoCircle{
    margin-top: 110vh;
  }
  #pageSectionThree, #pageSectionThreeBg, #pageSectionThreeCircle{
    margin-top: 220vh;
  }
  #pageSectionFour, #pageSectionFourBg, #pageSectionFourCircle{
    height: 170vh;
    margin-top: 330vh;
  }
  #pageSectionFive, #pageSectionFiveBg, #pageSectionFiveCircle{
    margin-top: 510vh;
  }
  #pageSectionSix, #pageSectionSixBg, #pageSectionSixCircle{
    margin-top: 620vh;
  }
  .columnHiddenDevice{
    display: none;
  }
  .columnRevealDevice{
    display: block;
  }
  #serviceTileBar{
    margin: 0;
  }
  #pageSectionOneCircle{
    border-radius: 0 60vw 0 60vw;
  }
  #pageSectionTwoCircle{
    border-radius: 20vw 0 20vw 0;
  }
  #pageSectionThreeCircle{
    border-radius: 30vw 0 0 30vw;
  }
  #pageSectionFourCircle{
    border-radius: 0 30vw 30vw 0;

  }
  #pageSectionFiveCircle{
    border-radius: 0 30vw 0 30vw;
    background-color: #ffec00;
  }
  #pageSectionSixCircle{
    border-radius: 70vw 0 0 0;
  }
  #emailTitle{
    font-size: 1em;
  }
}
